<aside class="left-container">
  <div class="chatroom-left-main">


    <div class="chatroom-left-background">

    </div>

    <<div class="logo">
      <br>
      <br>
    </div>


    <div class="chatroom-left-content">
      <h4 class="left-title">Channels</h4>
      <div class="add-button-container">
        <div class="featured-image">
        <div class="round-button">
          <div class="round-button-circle">
            <a href="/chatrooms/new" class="round-button">+</a>
          </div>
        </div>
        </div>
      </div>


      <div class="chatroom-left-listing">
          <% @chatrooms.each do |chatroom| %>
            <%= link_to("#{chatroom.name}",chatroom_path(chatroom) ) %>
          <% end %>
      </div>
      <br>
      <h4>Members</h4>
      <div class="chatroom-left-listing">
        <% if @team %>
          <% @team.users.each do |user| %>
            <a><%= user.name %></a>
          <% end %>
        <% end %>
      </div>

    </div>




  </div>
</aside>

<section class="right-container">

    <div class="user-menu">
      <a href="users/<%=@userID%>/edit" class="button"> Edit User</a>
      <%= link_to "Logout", login_path, :method => :delete, class: "button" %>
      <div class="avatar-container">
        <%=cl_image_tag(@user_current.image, class: "big-avatar")%>
      </div>
    </div>



    <div class="welcome-back-message-container">
      <div class="time"></div>
      <h1>Welcome back <%= session[:name]%></h1>
    </div>
</section>
