

<%= form_for @user, :html => { :multipart => true } do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username, :required => true %>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field  :name, :required => false %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email, :required => true %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password, :required => true %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :required => true %>
  </p>
  <p>
    <%= f.label :team_id %>
    <%= f.collection_select( :team_id, Team.all, :id, :name, :include_blank => true ) %>
  </p>
  <%= f.submit %>
<% end %>
