<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav id="main-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/#">Teams</a></li>
      <li><%= link_to("Chatrooms", chatrooms_path) %></li>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
